# Environment variables
.env

# Logs
*.log

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db